.Button {
    @mixin ButtonDefault transparent, grey;

    &:hover {
        cursor: pointer;
        box-shadow: 1px 1px 1px grey;
    }

    &:disabled {
        cursor: inherit;
        color: #7E7365;
    }
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
