.Button {
    background-color: transparent;
    color: grey;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

.Button:disabled {
    cursor: inherit;
    color: #7E7365;
}