.listItem {
    display: flex;
    justify-content: space-between;

    button {
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover {
        button {
            visibility: inherit;
            display: inline-block;
            opacity: 1;
        }
    }
}