.application-message {
    width: auto;
    max-width: 70%;

    &-enter {
        background: transparent;
        opacity: 0;

        &-active {
            opacity: 1;
            transition: opacity .3s;
        }

        &-done {
            opacity: 1;
        }
    }

    &-exit {
        &-active {
            opacity: 0;
            transition: opacity .5s;
        }

        &-done {
            opacity: 0;

            span {
                font-size: 0;
            }
        }
    }
}