.home-block {
    &-appear {
        opacity: 0;
        transform: scale(1.02);

        &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        &-done {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.description {
    transition: all .3s;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background: bisque;
    border-radius: 10px;
}

.hide {
    opacity: 0;
    width: 0;
    display: none;
}