.home-block {
    &-appear {
        opacity: 0;
        transform: scale(1.02);

        &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        &-done {
            opacity: 1;
            transform: scale(1);
        }
    }
}

.description {
    transition: all .3s;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    background: bisque;
}

.active-block {
    &-enter {
        &-active {
            .description {
                position: absolute;
                transform: translate3d(-51%, 15px, 0);

                .main-list {
                    transition: opacity, 0.3s ease-in-out;
                    opacity: 0;
                }
            }
        }

        &-done {
            .description {
                width: 80vw;
                position: absolute;
                transform: translate3d(-51%, 15px, 0);

                .main-list {
                    opacity: 0;
                    width: 0;
                    display: none;
                }
            }
        }
    }

    &-exit {
        position: relative;

        &-active {
            .description {
                position: absolute;
                width: 100%;
                transform: translate3d(0, 10, 0);

                .main-list {
                    transition: opacity, 0.3s ease-in-out;
                    opacity: 1;
                }
            }
        }

        &-done {
            opacity: 1;

            .description {
                width: 100%;
                position: relative;

                opacity: 1;

                .main-list {
                    opacity: 1;
                    width: 50%;
                    display: inline-block;
                }
            }
        }
    }
}