.page-content {
    &-exit-active,
    &-enter-active{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

    }

    &-enter,
    &-enter-active,
    &-exit,
    &-exit-active,
    &-exit-done {
        opacity: 0;
    }

    &-enter-active,
    &-enter-done,
    &-exit-done,
    &-exit-active {
        transition: opacity 0.3s;
    }

}

.content {
    overflow: auto;
    width: 100%;

    &.page-content-enter-done {
        opacity: 1;
        width: 100%!important;
    }
}